@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');


$Raleway: 'Raleway', sans-serif;
$font_regular: 400;
$font_semibold: 600;

$font_xs: 30px; //for header_button, portfolio_call-to-action_button, footer_text, footer_links, footer_email
$font_sm: 33px; //for intro_text, services_text&links, portfolio_text, call-to-action_text
$font_md: 37px; //for header_menu, services_h, portfolio_names, footer_h
$font_lg: 46px; //for header_caption_text, services_intro_h, portfolio_intro_h, call-to-ation_h